@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #5a3e2b;
}

/* App Styles */

.app {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

/* Logo Styles */

.header {
  background-color: #f4a226;
}

.header__title {
  padding: 2.4rem 0;

  font-family: 'Monoton';
  font-size: 8rem;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;

  letter-spacing: -5px;
  word-spacing: 30px;
}

/* AddForm Styles */

.add-form {
  padding: 2.8rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  background-color: #e5771f;
}

.add-form__title {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.add-form__form-control {
  border: none;
  border-radius: 10rem;

  padding: 1.2rem 3.2rem;

  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  color: #5a3e2b;

  background-color: #ffebb3;
  cursor: pointer;
}

/* https://habr.com/ru/articles/695194/ */

.add-form__add-item-input:-webkit-autofill,
.add-form__add-item-input:-webkit-autofill:hover,
.add-form__add-item-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #5a3e2b;
  -webkit-box-shadow: 0 0 0px 40rem #ffebb3 inset;
}

.add-form__submit-button {
  text-transform: uppercase;
  background-color: #76c7ad;
}
